@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --primary-color: #F50057;
}
  
body {
    font-family: "Montserrat", sans-serif;
}

.container{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.heading { 
    color: var(--primary-color);
}

.description {
    font-size: large;
}

.input-label{
    display: block;
    font-size: large;
    font-weight: bold;
    margin-top: 2rem;
}

.input {
    margin: 1rem;
    padding: 0.6rem 1rem;
    border: solid 2px var(--primary-color);
    border-radius: 0.5rem;
    text-align: center;
    font-size: large;
}

.button {
    margin: auto;
    padding: 0.7rem 1rem;
    background: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    display: block;
}

#error-message {
    font-size: larger;
    margin: 1rem;
}

.change-table {
    width: 60%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}

.table-caption {
    font-size: x-large;
    margin: 1rem;
    font-weight: 500;
}

th, td {
    border: solid 2px var(--primary-color);
    padding: 0.5rem;
    width: 0%;
}